@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:underline cursor-pointer;
  }
  .icon {
    @apply cursor-pointer hover:bg-gray-300 rounded-full h-10 w-10 flex items-center justify-center;
  }
  .btn {
    @apply bg-gray-50 text-gray-600 px-4 py-2 ring-gray-300 hover:ring-1 border-gray-200 cursor-pointer rounded-sm;
  }
}

.pagination {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: center;
}

.pagination > li {
  margin-left: 10px;
  color: blue;
  height: fit-content;
}

.pagination > li:hover {
  text-decoration: underline;
}

.pagination > .active {
  color: black;
}
